body {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #fdfbfb;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #121912;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f9f8f8;
    border-radius: 5px;
    outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: white; /* Bordure blanche au focus */
    box-shadow: none; /* Supprime l'ombre bleue ajoutée par certains navigateurs */
}
button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #028623;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #026d1f;
}
